body{
    font-family: Arial;
    margin: 50px;
}
h1{
    text-align: center;
}

h2{
    margin: 0px;
}
.item{
    border: 1px solid rgba(0, 0,0, 0.5);
    padding: 30px;
    margin: 20px;
    width: auto;
    background-color: #111;
    color: white;
    border-radius: 4px;
}

.yellow {
    color: #febe01;
}


p{
    color: #b2b2b2;
}
a{
    display: inline-block;
    background-color: #febe01;
    color: #332200;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
}



